
a {
    color: white;
}

a:hover {
    color: rgb(185, 185, 185);
    text-decoration: none;
    }

html {
    background-color: grey;
}

p {
    font-family: Arial, sans-serif ;
}

table, th, td {
    border: 1px solid;
  }